.App {
  text-align: center;
  display: flex;
  padding: 20px;
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
  justify-content: center;
  align-items: center;
  color: hsl(229, 25%, 31%);
  background-color: radial-gradient(#e66465, #9198e5);;
}
